MP_JWT_VERIFY_ISSUER=https://cognito-idp.us-east-1.amazonaws.com/<user-pool-id>
MP_JWT_VERIFY_PUBLICKEY_LOCATION=https://cognito-idp.us-east-1.amazonaws.com/<user-pool-id>/.well-known/jwks.json

QUARKUS_DATASOURCE_USERNAME=postgres
QUARKUS_DATASOURCE_PASSWORD=postgres
QUARKUS_DATASOURCE_ROLLDOWN_USERNAME=postgres
QUARKUS_DATASOURCE_ROLLDOWN_PASSWORD=postgres

COGNITO_URL=https://auth.alliancegenome.org
COGNITO_CLIENT_ID=<client-id>
COGNITO_CLIENT_SECRET=<client-secret>
COGNITO_SCOPES=<scopes>
